@use '../../styles/scss/' as *;

.movie-card, .catalog-card {
  &__play {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition-delay: 0.2s;
    background-color: rgb(0, 0, 0, 0.6);
  }

  &:hover {
    .movie-card__play, .catalog-card__play {
      display: flex;
      opacity: 1;
      transition-delay: 0.2s;
      transition: opacity 0.4s ease-in-out;
      -webkit-transition: opacity 0.4s ease-in-out;
      -moz-transition: opacity 0.4s ease-in-out;
      -ms-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;

      i {
        // color youtube
        color: #f12f2f;
      }
    }
  }
}

.catalog-card:hover {
  .catalog-card__overlay {
    display: block;
  }
}