@use '../../styles/scss/' as *;

.home-slide__item {
  &__overlay {
    // @include overlay;
    @include linearOverlay(right);
  }

  &__content {

    h2,
    p,
    .btns {
      opacity: 0;
      transform: translateY(-100px);
      transition: transform 0.5s ease, opacity 0.5s ease;
    }
  }

  &__image {
    img {
      width: 300px;
      transform: scale(0);
      transition: transform 0.7s ease;
    }
  }

  &.active {
    .home-slide__item__content {

      h2,
      p,
      .btns {
        opacity: 1;
        transform: translateY(0);
      }

      h2 {
        transition-delay: 0.3s, 0.3s;
      }

      p {
        transition-delay: 0.6s, 0.6s;
      }

      .btns {
        transition-delay: 0.9s, 0.9s;
      }
    }

    .home-slide__item__image {
      img {
        transform: scale(1);
      }
    }
  }
}