@mixin flex($aligin-item, $justify-content) {
  display: flex;
  align-items: $aligin-item;
  justify-content: $justify-content;
}

@mixin overlay {
  background-color: rgba($color: #000000, $alpha: 0.6);
}

@mixin linearOverlay($to) {
  background: linear-gradient(to $to,
      hsl(0, 0%, 0%) 0%,
      hsla(0, 0%, 0%, 0.964) 7.4%,
      hsla(0, 0%, 0%, 0.918) 15.3%,
      hsla(0, 0%, 0%, 0.862) 23.4%,
      hsla(0, 0%, 0%, 0.799) 31.6%,
      hsla(0, 0%, 0%, 0.73) 39.9%,
      hsla(0, 0%, 0%, 0.655) 48.2%,
      hsla(0, 0%, 0%, 0.577) 56.2%,
      hsla(0, 0%, 0%, 0.497) 64%,
      hsla(0, 0%, 0%, 0.417) 71.3%,
      hsla(0, 0%, 0%, 0.337) 78.1%,
      hsla(0, 0%, 0%, 0.259) 84.2%,
      hsla(0, 0%, 0%, 0.186) 89.6%,
      hsla(0, 0%, 0%, 0.117) 94.1%,
      hsla(0, 0%, 0%, 0.054) 97.6%,
      hsla(0, 0%, 0%, 0) 100%);
}